<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plx.android.app.capturescreen" >
    <application>
        <activity android:name=".activity.ScreenRecorderActivity"
            android:theme="@style/AppTheme"/>
        <service android:name=".service.ScreenRecorderService"/>
    </application>
</manifest>
